.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.flash-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.flash-success {
    background-color: #dff0d8;
    color: #3c763d;
}

.flash-warning {
    background-color: #f2dede;
    color: #a94442;
}